* {
margin: 0 ;
padding: 0 ;
box-sizing: border-box;
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

body{
background-color: aquamarine;
text-align: center;
color: brown;
}
button{
 border-color: blue;
 border-style: outset;
 border-radius: 4px;
 text-decoration: solid;
}

li{
    list-style: none;
}

#container{
width: 290px;
text-align: center;
height: auto;
margin: 4px auto;
}

#calculadora{
width: 234px;
height: 230px;
margin: 0 auto;
padding: 2px;
background-color: blueviolet;
}

.input-valor{
margin: 8px auto;
width: 95%;
height: 30px;
font-size: 16px;
overflow: hidden;
text-align:right;
color: black;
padding: 4px;
background-color: bisque;
box-shadow: inset --1px -1px 4px -1px #eee;
}

.key li{
width: 50px;
height: 30px;
border-radius: 3px;
color: rgb(8, 8, 8);
background-color: #eee;
cursor: pointer;
float: left;
margin: 0px 3px 1px 0px;
line-height: 30px;
text-align: center;
box-shadow: 0px 3px 1px 0px #444651;
}


.key li:hover{
background-color: aqua;
color: blue;
transition: 0.2s;
}
.key li:active{
    box-shadow: 0px 1px 1px 0px #444651
}
.verificar{
    width: 93.4% !important;
}




